root = true

[*.cs]

# formatting
indent_style = space
indent_size = 4

# .NET style
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# code quality
dotnet_diagnostic.CA2000.severity = error
dotnet_diagnostic.CA1062.severity = error
dotnet_diagnostic.CA2208.severity = error